{% extends 'index.html' %}

{% block container %}

    <body style="background-color: white;"></body>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">UBC Profs</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Custom Search</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Search by:</h6>
                        <a class="collapse-item" href="courses">Courses</a>
                        <a class="collapse-item" href="date">Date</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="course-comparator">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Course comparator</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Other
            </div>
            
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <i class="fas fa-fw fa-table"></i>
                    <span>About</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">

                    <div class="row md-form mt-1">
                        <h1 class="display-4 col-lg-5">About Page</h1>
                    </div>

                    <div class="row md-form mt-1">
                        <p class="lead col-auto">Backend and Frontend development made by Christopher</p>
                    </div>

                    <div class="row md-form mt-1">
                        <p class="lead col-auto">Licensing, README, Setup, Deployment made by Richie</p>
                    </div>

                    <div class="row md-form mt-1">
                        <p class="col-md-8">The information provided was given from the ubcgrades.com page, which as a result
                        came from the UBC PAIR database. We scraped the data and created our own database which stored the information
                        that is provided for this webpage.</p>
                    </div>

                    <div class="row md-form mt-1">
                        <p class="col-md-8">Note that this webpage is used for non-commercial purposes only, and searches that
                        are done on this site will not be tracked by any means. We can also not guarantee that any of this information
                        is correct.</p>
                    </div>

                    <div class="row md-form mt-1">
                        <a class="col-auto" href="https://github.com/christopherhui">You can find the source code here.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}