{% extends 'index.html' %}

{% block container %}

    <body style="background-color: white;"></body>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">UBC Profs</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Custom Search</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Search by:</h6>
                        <a class="collapse-item" href="courses">Courses</a>
                        <a class="collapse-item" href="date">Date</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="section">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Section comparator</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Other
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="api">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>API</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="about">
                    <i class="fas fa-fw fa-table"></i>
                    <span>About</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">

                    <div class="row md-form mt-1">
                        <h1 class="display-4 col-lg-5">UBC Profs</h1>
                    </div>

                    <div class="row md-form mt-1">
                        <p class="lead col-lg-5">Search any UBC professor to get the grade distributions and statistics
                            for
                            each
                            course.</p>
                    </div>

                    <div class="row">
                        <!-- Search form -->
                        <div class="col-lg-5 mb-3">
                            <div class="md-form">
                                <form id="search-prof-form" onsubmit="profSearchCustom();return false;">
                                    <div class="input-group">
                                        <input class="form-control" id="search-input-prof" type="text"
                                               placeholder="Search Professor"
                                               aria-label="Search" autocomplete="off" onkeydown="findResults();"/>
                                        <div class="input-group-btn">
                                            <input type="submit" value="Search" id="search-prof"
                                                   class="btn btn-default"/>
                                        </div>
                                    </div>
                                </form>
                                <ul class="list-group" id="result"></ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-auto">
                            <p class="title-dropdown">Subject:</p>
                            <div class="dropdown no-arrow mb-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButtonSubject" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">All</button>
                                <div class="dropdown-menu" id="subject-dropdown" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="javascript:void(0)">All</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <p class="title-dropdown">Course:</p>
                            <div class="dropdown no-arrow mb-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButtonCourse" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">All</button>
                                <div class="dropdown-menu" id="course-dropdown" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="javascript:void(0)">All</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <p class="title-dropdown">Year:</p>
                            <div class="dropdown no-arrow mb-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButtonYear" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">All</button>
                                <div class="dropdown-menu" id="year-dropdown" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="javascript:void(0)">All</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <p class="title-dropdown">Section:</p>
                            <div class="dropdown no-arrow mb-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButtonSection" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">All</button>
                                <div class="dropdown-menu" id="section-dropdown" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="javascript:void(0)">All</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-bottom-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Overall
                                                Average
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="overall-avg">0
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-bottom-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Overall
                                                Standard Deviation
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="overall-std">0
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-bottom-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Overall
                                                Median
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="overall-median">
                                                0
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-bottom-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Percentage Passed
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="overall-passed">
                                                0
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Overall Grade Distribution</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <canvas id="generalStats" width="756" height="400"
                                            class="chartjs-render-monitor"
                                            style="display: block; height: 320px; width: 605px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}