{% extends 'index.html' %}

{% block container %}

    <body style="background-color: white;"></body>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">UBC Profs</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Custom Search</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Search by:</h6>
                        <a class="collapse-item" href="courses">Courses</a>
                        <a class="collapse-item" href="date">Date</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="course-comparator">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Course comparator</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Other
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="api">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>API</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="about">
                    <i class="fas fa-fw fa-table"></i>
                    <span>About</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">

                    <div class="row md-form mt-1">
                        <h1 class="display-4 col-lg-5">UBC Profs</h1>
                    </div>

                    <div class="row md-form mt-1">
                        <p class="lead col-lg-5">Search any UBC professor to get the grade distributions and statistics
                            for each course.</p>
                    </div>

                    <div class="row mb-3">
                        <div class="col-auto">
                            <p class="title-dropdown">Subject:</p>
                            <select class="selectpicker subject-picker" data-style="btn-success" data-live-search="true"
                                    title="Choose a subject">
                            </select>
                        </div>
                        <div class="col-auto">
                            <p class="title-dropdown">Course:</p>
                            <select class="selectpicker course-picker" data-style="btn-danger" data-live-search="true"
                                    title="Choose a course">
                            </select>
                        </div>
                        <div class="col-auto">
                            <p class="title-dropdown">Professors:</p>
                            <select class="selectpicker instructor-picker" multiple
                                    data-selected-text-format="count > 2"
                                    data-style="btn-primary" data-max-options="5" data-live-search="true"
                                    title="Choose a maximum of 5">
                            </select>
                        </div>
                        <div class="col-auto mt-sm-2">
                            <form id="search-prof-form" onsubmit="compare();return false;">
                                <input type="submit" value="Search" id="search-prof"
                                       class="btn btn-default"/>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-bottom-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Highest Average
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="high-avg">0
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-bottom-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Lowest Standard Deviation
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="low-stdev">0
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-bottom-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Highest # of Years Taught
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="high-year">
                                                0
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-6 mb-4">
                            <div class="card border-bottom-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Highest # of Students Taught
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="high-stud">
                                                0
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-10 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Distribution Chart</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <canvas id="profCompare" width="756" height="400"
                                            class="chartjs-render-monitor"
                                            style="display: block; height: 320px; width: 605px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/course-selector.js') }}"></script>

{% endblock %}